$mobile-breakpoint: 1000px;
$tablet-breakpoint: 1100px;
$desktop-breakpoint: 1520px;
$desktop-hd-breakpoint: 1920px;

@mixin respond-to ($media) {
  @if $media == desktop-hd {
    @media only screen and (min-width: $desktop-breakpoint + 1)
                       and (max-width: $desktop-hd-breakpoint) { @content; }
  }
  @else if $media == desktop-uhd {
    @media only screen and (min-width: $desktop-hd-breakpoint + 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $tablet-breakpoint + 1)
                       and (max-width: $desktop-breakpoint)
                       and (-webkit-min-device-pixel-ratio: 1)
                       and (-webkit-max-device-pixel-ratio: 1.9) { @content; }
  }

  @else if $media == desktop-retina {
    @media only screen and (min-width: $tablet-breakpoint + 1)
                       and (max-width: $desktop-breakpoint)
                       and (-webkit-min-device-pixel-ratio: 2)
                       and (-webkit-max-device-pixel-ratio: 3) { @content; }
  }

  @else if $media == tablet-retina {
    @media only screen and (min-width: $mobile-breakpoint + 1)
                       and (max-width: $tablet-breakpoint)
                       and (-webkit-min-device-pixel-ratio: 2)
                       and (-webkit-max-device-pixel-ratio: 3) { @content; }
  }

  @else if $media == tablet {
    @media only screen and (min-width: $mobile-breakpoint + 1)
                       and (max-width: $tablet-breakpoint)
                       and (-webkit-min-device-pixel-ratio: 1)
                       and (-webkit-max-device-pixel-ratio: 1.9){ @content; }
  }

  @else if $media == mobile-retina {
    @media (min-width: 0) and (max-width: $mobile-breakpoint)
                          and (-webkit-min-device-pixel-ratio: 2)
                          and (-webkit-max-device-pixel-ratio: 3) { @content; }
  }
  @else if $media == mobile {
    @media (min-width: 0) and (max-width: $mobile-breakpoint)
                          and (-webkit-min-device-pixel-ratio: 1)
                          and (-webkit-max-device-pixel-ratio: 1.9) { @content; }
  }
}
