@mixin team-member() {
  @include respond-to(mobile) {
    height: 220px;
    width: 220px;
  }
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid $light-brand;
  margin-bottom: $base-spacing-unit;
  background-position: 50% 20% !important;
  background-size: cover;
}
