#about-us {
  height: $section-height;
  @include respond-to(mobile) {
    height: 1800px;
  }
  @include respond-to(tablet) {
    height: 800px;
  }
  @include respond-to(desktop) {
    height: 100vh;
  }
  @include respond-to(desktop-hd) {
    display: table;
    width: 100%;
    height: 100vh;
  }
  @include respond-to(desktop-uhd) {
    display: table;
    width: 100%;
    height: 100vh;
  }
}

.about {
  position: relative;
  background: white;

  @include respond-to(mobile) {
    padding-top: 200px;
  }
  @include respond-to(mobile-retina) {
    padding-top: 200px;
  }
  @include respond-to(desktop) {
    padding-top: 100px;
  }
  @include respond-to(desktop-hd) {
    padding-top: 100px;
  }
  @include respond-to(desktop-uhd) {
    display: table-cell;
    vertical-align: middle;
  }
}

.about__wrapper {
  position: relative;
  z-index: 20;
  width: 56%;
  text-align: center;
  margin: auto;

  @include respond-to(mobile-small) {
    width: 90%;
  }
  @include respond-to(mobile) {
    width: 90%;
  }
  @include respond-to(tablet) {
    width: 75%;
  }
  @include respond-to(desktop-uhd) {
    width: 50%;
  }
}

.about__heading {
  color: $dark-brand;
  font-size: 1.5 * $font-huge;
  @include set-font-for(heading);
}

.content__box {
  margin: 2 * $base-spacing-unit 0;
  font-size: 32px;
  color: $dark-brand;
  p {
    @include set-font-for(normal-text);
  }
}

.content__wrapper {
  margin-top: 32px;
}
