.about__overlay {
  width: 100%;
  height: $section-height;
  background: white;
  opacity: 0.5;
  position: absolute;
  top: 105 + $section-height;
}

.home__overlay {
  @include respond-to(mobile) {
    width: 90%;
  }
  @include respond-to(tablet) {
    width: 90%;
  }
  padding: 30px;
  width: 50%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  top: 0px;
}
