.footer {
  margin-top: -25px;
  z-index: 20;
  position: absolute;
  height: auto;
  width: 100%;
  height: 100px;
  background: white;
}

.footer__logo {
  padding-top: 10px;
  width: 30%;
}

.footer__brand {
 padding: 20px;
 margin: 0px;
 text-align: right;
}
