@import 'mixins/rwd';
.container__header {
  display: table;
  z-index: 100;
  position: fixed;
  top: 0;
  background: white;
  display: table;
  width: 100%;
  height: $header-container-height;
}

.container__header__bar {
  display: table-cell !important;
  height: inherit;
  vertical-align: bottom;
  display: inline;
  padding-bottom: $half-spacing-unit;
}

.header__logo {
  max-width: 600px;

  @include respond-to(mobile) {
    width: 600px;
  }
  @include respond-to(desktop) {
    width: 55%;
  }
  @include respond-to(hd) {
    width: 50%;
  }
}

.header__slogan {
  margin-left: $half-spacing-unit;
  font-family: 'ChaletParis';
  display: inline;
  font-size: 0.5 * $font-huge;
}

.header__menu {
  float: right;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  color: $dark-brand;
  font-family: 'VarelaRound';
  font-size: $font-large;

  @include respond-to(hd) {
    float: none;
  }
  @include respond-to(tablet) {
    top: 0px;
  }
  @include respond-to(mobile) {
    top: 0px;
    width: 100%;
    li {
      a {
        font-size: 40px;
      }
    }
  }

  li {
    a {
      padding-top: 20px;
      padding-bottom: 10px;
      color: $dark-brand;
    }
    a:focus {
      color: $dark-brand;
      background: inherit;
    }
    a:hover {
      color: #00b3f3;
      background: inherit;
    }
  }
}

.active {
  color: #00b3f3 !important;
}

.header__wrapper--logo {
  @include respond-to(mobile) {
    text-align: center;
  }

  text-align: left;
  padding-left: 10px;
  display: inline;
  line-height: 50px;
}

.header__wrapper--menu {
  @include respond-to(mobile) {
    text-align: center;
  }
}

.navbar-nav {
  li {
    @include respond-to(mobile) {
      float: none !important;
      display: inline-block !important;
    }
  }
}