$padding-section-desktop-hd: 200px;
$padding-section-desktop: 200px;
$padding-section-tablet: 200px;
$padding-section-mobile: 300px;

$section-height: 1000px;
$height-section-desktop: 1090px;
$height-section-tablet: 820px;

$mobile-small-heading: 24px;

$tablet-heading: 45px;
$tablet-subheading: 28px;


$desktop-heading: 48px;
$desktop-subheading: 32px;

$desktop-hd-heading: 52px;
$desktop-hd-subheading: 32px;

$color-text-brand: #00b3f3;
