.about {
  /*padding-bottom: 120px;*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url('../images/map.jpg');
  background-position: 60%;
  height: 800px;
}

.about__wrapper {
  width: 50%;
  text-align: center;
  margin: auto;
}

.about__heading {
  padding: 0  2 * $base-spacing-unit;
  color: $dark-brand;
  font-size: 1.5 * $font-huge;
}

.content__box {
  margin: 2 * $base-spacing-unit 0;
  p {
    font-size: $font-large;
    color: $dark-brand;
  }
}

.content__wrapper {
  margin-top: 60px;
}
