#about {
  height: $section-height;
  @include respond-to(mobile) {
    height: auto;
  }
  @include respond-to(tablet) {
    height: auto;
  }
  @include respond-to(hd) {
    height: auto;
  }
}

.about {
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url('../images/map.jpg');
  padding-top: 40px;
}

.about__wrapper {
  @include respond-to(mobile) {
    width: 90%;
  }
  @include respond-to(tablet) {
    width: 65%;
  }
  @include respond-to(hd) {
    width: 65%;
  }
  position: relative;
  z-index: 20;
  width: 56%;
  text-align: center;
  margin: auto;
}

.about__heading {
  @include respond-to(mobile) {
    font-size: 80px;
  }
  @include respond-to(hd) {
    font-size: 80px;
  }
  color: $dark-brand;
  font-size: 1.5 * $font-huge;
}

.content__box {
  margin: 2 * $base-spacing-unit 0;
  p {
    @include respond-to(mobile) {
      font-size: 40px;
    }
    @include respond-to(hd) {
      font-size: 40px;
    }
    font-size: 32px;
    color: $dark-brand;
  }
}

.content__wrapper {
  margin-top: 32px;
}
