#about {
  height: $section-height;
}

.about {
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url('../images/map.jpg');
  padding-top: 20px;
}

.about__wrapper {
  position: relative;
  z-index: 20;
  width: 50%;
  text-align: center;
  margin: auto;
}

.about__heading {
  color: $dark-brand;
  font-size: 1.5 * $font-huge;
}

.content__box {
  margin: 2 * $base-spacing-unit 0;
  p {
    font-size: $font-large;
    color: $dark-brand;
  }
}

.content__wrapper {
  margin-top: 30px;
}
