#contact {
  height: 100vh;
  overflow: hidden;
  @include respond-to(mobile-small) {
    height: 1200px;
  }
  @include respond-to(mobile) {
    height: 1500px;
  }
  @include respond-to(tablet) {
    height: 100vh;
  }
}

.contact {
  background-size: 100% 100%;
  padding: 40px auto;
  z-index: 20;
  height: inherit;

  .google-map {
    width: 100%;
    height: 100vh;
    display: inline-block;
    @include respond-to(mobile-small) {
      width: 100%;
      height: 100%;
    }
    @include respond-to(mobile) {
      width: 100%;
      height: 100%;
    }
  }

  .gmnoprint {
    display: none;
  }
  .gm-style .gm-style-iw {
    font-family: inherit;
    font-size: 18px;
    @include respond-to(mobile) {
      font-size: 32px;
    }
  }
}

.map__wrapper {
  display: inline-block;
  width: 50%;
  height: 50%;
  position: relative;
  padding: 1px;

  @include respond-to(mobile-small) {
    width: 100%;
  }
  @include respond-to(mobile) {
    width: 100%;
  }
}

.loading {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  @include respond-to(mobile-small) {
    height: 100%;
  }
  @include respond-to(mobile) {
    height: 100%;
  }
}

.map__overlay {
  transition: 3s opacity ease-in-out;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0.4;
  z-index: 900;
  @include respond-to(mobile-small) {
    height: 100%;
  }
  @include respond-to(mobile) {
    height: 100%;
  }
}

.contact__box {
  width: 40%;
  background-color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  @include set-font-for(subheading);
}

.contact__heading {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 1.5 * $font-huge;
  @include set-font-for(heading);
}
