#contact {
  /*height: 1200px;*/
  overflow: hidden;
  text-align: center;
  @include respond-to(mobile-small) {
    height: 100vh;
  }
  @include respond-to(mobile) {
    height: 100vh;
  }
  @include respond-to(tablet) {
    height: 1300px;
  }
  @include respond-to(desktop-uhd) {
    height: 1600px;
  }
}

.contact {
  /*margin: auto;*/
  /*height: inherit;*/
  /*position: relative;*/
  /*background: url('../images/map.svg');*/
  /*max-width: 1200px;*/
  /*@include respond-to(mobile-small) {*/
    /*background: url('../images/map_iphone_transp.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
  /*}*/
  /*@include respond-to(mobile-retina) {*/
    /*padding-top: 350px;*/
    /*background: url('../images/map_iphone_transp.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
  /*}*/
  /*@include respond-to(mobile) {*/
    /*padding-top: 350px;*/
    /*background: url('../images/map_iphone_transp.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
  /*}*/
  background-size: 100% 100%;
  padding: 40px auto;
  z-index: 20;

  .google-map {
    width: 50%;
    height: 100vh;
    display: inline-block;
    @include respond-to(mobile-small) {
      width: 100%;
      height: 50vh;
    }
    @include respond-to(mobile) {
      width: 100%;
      height: 50vh;
    }
  }

  .gmnoprint {
    display: none;
  }
  .gm-style .gm-style-iw {
    font-family: inherit;
    font-size: 18px;
    @include respond-to(mobile) {
      font-size: 32px;
    }
  }
}

.contact__heading {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 1.5 * $font-huge;

  @include respond-to(mobile-small) {
    font-size: $mobile-small-heading;
    font-weight: bold;
  }
  @include respond-to(mobile) {
    font-size: 80px;
  }
  @include respond-to(tablet) {
    font-size: $tablet-heading;
  }
  @include respond-to(desktop) {
    font-size: $desktop-heading;
  }
  @include respond-to(desktop-hd) {
    font-size: $desktop-hd-heading;
  }
  @include respond-to(desktop-uhd) {
    font-size: 80px;
  }
}

.contact__box {
  position: relative;
  padding-bottom: 20px;
  margin: $base-spacing-unit;
  background: transparent;
  border-radius: 25px;
  p {
    margin: 5px 0;
    font-size: 30px;
    color: $dark-brand;

    @include respond-to(mobile) {
      font-size: 55px;
    }
    @include respond-to(mobile-small) {
      font-size: $mobile-small-heading;
    }
    @include respond-to(mobile-retina) {
      font-size: 55px;
    }
    @include respond-to(tablet) {
      font-size: $tablet-subheading;
    }
    @include respond-to(desktop) {
      font-size: $desktop-subheading;
    }
    @include respond-to(desktop-hd) {
      font-size: $desktop-hd-subheading;
    }
    @include respond-to(desktop-uhd) {
      font-size: 60px;
    }
  }
  a {
    margin: 5px 0;
    font-size: $font-large;
    color: $dark-brand;
    &:hover {
      color: $color-text-brand;
    }
    @include respond-to(mobile) {
      font-size: 55px;
    }
    @include respond-to(mobile-retina) {
      font-size: 55px;
    }
    @include respond-to(tablet) {
      font-size: $tablet-subheading -3px;
    }
    @include respond-to(desktop) {
      font-size: $desktop-subheading -3px;
    }
    @include respond-to(desktop-hd) {
      font-size: $desktop-hd-subheading -3px;
    }
    @include respond-to(desktop-uhd) {
      font-size: 60px;
    }

  }
}

.contact__email {
  margin: 30px 0 !important;
}

.contact__location {
  margin: 60px 0 !important;
}
