#contact {
  height: $section-height;
}

.contact {
  height: inherit;
  position: relative;
  background-size: cover;
  background: url('../images/contact_us.jpg');
  background-position: 30% 300%;
  padding: 40px auto;
  z-index: 20;
}

.contact__heading {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 25px;
  color: $light-brand;
  font-size: 1.5 * $font-huge;
}

.contact__box {
  position: relative;
  padding-bottom: 20px;
  margin: $base-spacing-unit;
  padding: $base-spacing-unit;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  p {
    margin: 5px 0;
    font-size: 30px;
    color: $dark-brand;
  }
  a {
    margin: 5px 0;
    font-size: $font-large;
    color: $dark-brand;
  }
  button {
    margin: 10px;
  }
}

.contact__email {
  margin: 30px 0 !important;
}

.contact__location {
  margin: 60px 0 !important;
}
