.contact {
  background-size: cover;
  background: url('../images/contact_us.jpg');
  background-position: 30% 46%;
  padding: 40px auto;
}

.contact__heading {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 25px;
  color: $light-brand;
  font-size: 1.5 * $font-huge;
}

.contact__box {
  position: relative;
  margin: $base-spacing-unit;
  padding: $base-spacing-unit;
  background: rgba(70, 179, 233, 0.2);
  border-radius: 25px;
  p {
    margin: 5px 0;
    font-size: $font-large;
    color: $dark-brand;
  }
  button {
    margin: 10px;
  }
}

.contact__email {
  margin: 30px 0 !important;
}

.contact__location {
  margin: 60px 0 !important;
}
