#home {
  position: relative;
  height: 100vh;
  @include respond-to(mobile-retina) {
    height: 1700px;
  }
  @include respond-to(mobile) {
    height: 1700px;
  }
  @include respond-to(tablet) {
    height: 100vh;
    max-height: $height-section-tablet;
  }
  @include respond-to(tablet-retina) {
    height: 100vh;
    max-height: $height-section-tablet;
  }
  @include respond-to(desktop) {
    height: 100vh;
    max-height: $height-section-desktop;
  }
  @include respond-to(desktop-hd) {
    height: 100vh;
    max-height: $height-section-desktop;
  }
  @include respond-to(desktop-uhd) {
    height: 100vh;
  }
}

.home {
  display: table;
  -webkit-background-size: cover !important;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed !important;
  position: static !important;
  z-index: -1 !important;
  text-align: center;
  height: 100%;
  width: 100%;
  background: url('../images/landscape_md2.jpg');

  @include respond-to(mobile) {
    background: url('../images/landscape_mobile2.jpg');
  }
  @include respond-to(mobile-retina) {
    background: url('../images/landscape_mobile2.jpg');
  }
  @include respond-to(tablet) {
    background: url('../images/landscape_md2.jpg');
  }
  @include respond-to(desktop) {
    font-size: 80px;
    background: url('../images/landscape_hd2.jpg');
    background-size: cover;
  }
  @include respond-to(desktop-hd) {
    font-size: 80px;
    background: url('../images/landscape_hd2.jpg');
    background-size: cover;
  }
  @include respond-to(desktop-uhd) {
    font-size: 80px;
    background: url('../images/landscape_uhd.jpg');
  }
}

.home__wrapper {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  margin: $base-spacing-unit auto;
}

.home__wrapper.skrollable-after {
  position: relative !important;
}

.home__heading {
  margin-top: 0;
  padding-bottom: 20px;
  color: $dark-brand;
  font-size: 40px;

  @include respond-to(mobile-small) {
    font-size: $mobile-small-heading + 2;
  }
  @include respond-to(mobile) {
    font-size: 80px;
  }
  @include respond-to(tablet) {
    font-size: $tablet-heading;
  }
  @include respond-to(desktop) {
    font-size: $desktop-heading;
  }
  @include respond-to(desktop-hd) {
    font-size: $desktop-hd-heading;
  }
  @include respond-to(desktop-uhd) {
    font-size: 80px;
  }
}

.home__subheading {
  color: $dark-brand;
  font-size: 0.8 * $font-huge;

  @include respond-to(mobile-small) {
    font-size: $mobile-small-heading;
  }

  @include respond-to(mobile) {
    font-size: 55px;
  }
  @include respond-to(mobile-retina) {
    font-size: 55px;
  }
  @include respond-to(tablet) {
    font-size: $tablet-subheading;
  }
  @include respond-to(desktop) {
    font-size: $desktop-subheading;
  }
  @include respond-to(desktop-hd) {
    font-size: $desktop-hd-subheading;
  }
  @include respond-to(desktop-uhd) {
    font-size: 60px;
  }
}
