.home {
  background: url('../images/investors.jpg');
  height: $section-height;
  background-size: cover;
}

.home__wrapper {
  width: 50%;
  margin: $base-spacing-unit auto;
}

.home__heading {
  padding-top: 100px;
  padding-bottom: 20px;
  color: $dark-brand;
  font-size: 1.5 * $font-huge;
}

.home__subheading {
  color: $dark-brand;
  font-size: 0.8 * $font-huge;
}
