#team {
  @include respond-to(desktop-uhd) {
    display: table;
    width: 100%;
  }
  @include respond-to(desktop-hd) {
    display: table;
    width: 100%;
  }
}

.team {
  z-index: 20;
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 100px;

  background: #3b7db7; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #3b7db7 31%, #a1c96e 69%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(31%,#3b7db7), color-stop(69%,#a1c96e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #3b7db7 31%,#a1c96e 69%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #3b7db7 31%,#a1c96e 69%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #3b7db7 31%,#a1c96e 69%); /* IE10+ */
  background: linear-gradient(135deg, #3b7db7 31%,#a1c96e 69%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7db7', endColorstr='#a1c96e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  @include respond-to(mobile-small) {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
  }

  @include respond-to(mobile) {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
  }
  @include respond-to(tablet) {
    height: auto;
  }
  @include respond-to(desktop) {
    height: 100vh;
    min-height: 1000px;
  }
  @include respond-to(desktop-hd) {
    display: table-cell;
    vertical-align: middle;
    min-height: 1000px;
    height: 100vh;
  }
  @include respond-to(desktop-uhd) {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
  }
}

.team__wrapper {
  margin: auto;
  width: 70%;
  @include respond-to(tablet) {
    width: 100%;
  }
}

.team__wrapper--icons {
  overflow: hidden;
  float: none;
  display: inline-block;
  height: 250px;

  @include respond-to(desktop-uhd) {
    margin-top: 250px;
  }
}

.team__heading {
  font-size: $desktop-heading;
  color: $dark-brand;
  padding-bottom: 40px;

  @include set-font-for(heading);
}

.team__invitation {
  padding-top: 50px;
  font-size: 2 * $font-huge;
  color: $light-brand;
}

.team__member__avatar--ms {
  @include team-member(michael);

  background-size: 84% 100% !important;
  background-position: 50% 0 !important;
  background-repeat: no-repeat !important;
  background-color: #CDC8C3 !important;
}

.team__member__avatar--mj {
  @include team-member(matthias);

  background-position: 1px -8px!important;
}

.team__member__avatar--ss {
  @include team-member(sergey);
  background-position: 0px -6px !important;
  background-color: #CDC8C3 !important;
}


.team__member__avatar--mm {
  @include team-member(max);
}

.team__members {
  padding-bottom: 100px;
  @include respond-to(desktop-uhd) {
    margin-top: 60px;
  }
}

.team__member--info {
  padding-bottom: 30px;
  p, a {
    margin: 7px;
    line-height: $font-large;
    color: $dark-brand;
    font-size: $font-large;
    @include set-font-for(normal-text);
  }
}

.team__grid {
  padding-bottom: 30px;
  @include respond-to(mobile-small) {
    width: 100%;
  }
  @include respond-to(desktop) {
    width: 25%;
  }
  @include respond-to(desktop-hd) {
    width: 25%;
  }
  @include respond-to(desktop-uhd) {
    width: 25%;
  }
}
