#team {
  @include respond-to(mobile) {
    height: 950px;
  }
  @include respond-to(tablet) {
    height: 950px;
  }
  @include respond-to(hd) {
    height: 950px;
  }
  height: 1750px;
  z-index: 20;
  position: relative;
}

#location {
  z-index: 20;
  position: relative;
}

.hide {
  position: absolute !important;
  top: 0;
}

.team {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background: url('../images/meet_the_team.jpg');
  background-position: 90% -100px;
}

.team__wrapper {
  margin: auto;
  width: 70%;
  @include respond-to(tablet) {
    width: 100%;
  }
}

.team__heading {
  @include respond-to(mobile) {
    font-size: 80px;
  }
  @include respond-to(hd) {
    font-size: 80px;
  }
  font-size: 1.2 * $font-huge;
  color: $dark-brand;
  padding-bottom: 40px;
}

.team__invitation {
  padding-top: 50px;
  font-size: 2 * $font-huge;
  color: $light-brand;
}

.team__member__avatar--ms {
  @include team-member();
  background: url('../images/ms.png');
}

.team__member__avatar--mj {
  @include team-member();
  background: url('../images/mj.png');
}

.team__member__avatar--ss {
  @include team-member();
  background: url('../images/ss.png');
}

.team__member__avatar--mm {
  @include team-member();
  background: url('../images/mm.png');
}

.team__members {
  padding-bottom: 100px;
}

.team__member--info {
  p {
    @include respond-to(mobile) {
      font-size: 25px;
      line-height: 30px;
    }
    @include respond-to(hd) {
      font-size: 30px;
      line-height: 35px;
    }

    margin: 7px;
    line-height: $font-large;
    color: $dark-brand;
    font-size: $font-large;
  }
  a {
    @include respond-to(mobile) {
      font-size: 30px;
      line-height: 35px;
    }
    @include respond-to(hd) {
      font-size: 30px;
      line-height: 35px;
    }
    margin: 7px;
    line-height: $font-large;
    color: $dark-brand;
    font-size: $font-large;
  }
}
