// Bootstrap

$navbar-border-radius: 0;

$font-huge: 40px;
$font-large: 24px;
$font-medium: 18px;
$font-normal: 14px;
$base-spacing-unit: 10px;
$half-spacing-unit: 0.5 * $base-spacing-unit;
$header-height: 105px;

$brand: #46b3e9;
$dark-brand: black;
$light-brand: white;

$header-container-height: 105px;
$section-height: 800px;
